*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: rgb(255, 0, 0);
    text-decoration: underline;
    text-align: center;
}

p:hover{
    color: blue;
}

a{
    text-decoration: none;
    text-align: center
}

.flexbox{
    width: 1000px;
    height: 1000px;
    background-color: red;
    margin: auto;
    border: blue 5px solid;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: flex-start;
}
.box{
    width: 250px;
    height: 250px;
    background-color: chartreuse;
    border: green 2px solid;
}